h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px; 
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif; 
    margin-top: 0px;  
}
.im1{
    margin-left:25% ;
    width :50%;
    max-height: 20%;
}
a{
    text-align: center;
    float: left;
    margin-left: 25%;
    margin-top: 10px;
  
}
a button{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: chartreuse;
    border-radius: 20%;
    border: inset;
}
@media screen and (max-width:1800){
    .bloc{
        width: 90%;

        
            font-size: 10px;
        
            font-size: 10px;
        }
        
    }
    
}
